<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style>
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song:</h2>
    <form th:action="@{/listSongs}" method="post">
        <div th:each="song : ${song}">
            <input type="radio" name="trackId" th:value="${song.trackId}" th:text="'Title: ' + ${song.title} + ', Genre: ' + ${song.genre} + ', Release Year: ' + ${song.releaseYear}"></input><br/>
        </div>

        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>
